BREVO_API_KEY=eyJhcGlfa2V5IjoieGtleXNpYi0yNzg2MzcwYjUyZGU2YzUxYzlkN2NjZjA1OGZkYTYyZjY2N2ExMzllOWYyM2U3MmJhMzJkNmU5OGM1MzhmYTQ5LTZnVDNKUTM3WjI4S1R2MlIifQ==
ADMIN_EMAIL=dsarkodie@datrixtechsolutions.com
